body {
    background-color: #161414;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.95rem;
    line-height: 1.7;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}

.navbar-main {
    background-color: #2D2929 !important;
}

.jumbotron {
    background-color: #333333 !important;
}

.bg-color {
    background-color: #161414 !important;
}

.bg-color-1 {
    background-color: #1A1A1A !important;
}

.bg-color-2 {
    background-color: #4D4D4D !important;
}

.secondary-color {
    color: #3f3838 !important;
}

.tertiary-color {
    color: #514c4c !important;
}

.accent-color {
    color: #ebc243 !important;
}

.accent-border {
    border-color: #ebc243 !important;
}

.rounded-custom {
    border-radius: 1rem;
}

h1, .h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

h2, .h2 {
    font-size: 16px;
    font-weight: bold;
    color: #ebc243;
    text-transform: uppercase;
}

h3, .h3 {
    font-size: 14px;
    color: #999999;
}

h4, .h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

p, .p {
    font-size: 16px;
    color: #ffffff;
}

.w-min {
    width: min-content !important
}

.w-max {
    width: max-content !important
}

.h-min {
    height: min-content !important
}

.h-max {
    height: max-content !important
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.form-control {
    border-radius: .5rem;
    background-color: #161414;
}

.form-control:focus {
    border-color: #ffffff;
    background-color: #161414;
    box-shadow: none;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center center;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
}

.text-underline {
    text-decoration: underline;
}

.icon:before {
    content: "";
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
}

.primary-menu .icon, .primary-menu .icon:before {
    width: 22px !important;
    height: 22px !important;
}

.secondary-menu .icon, .secondary-menu .icon:before {
    width: 24px !important;
    height: 24px !important;
}

.social-menu .icon, .social-menu .icon:before {
    width: 36px !important;
    height: 36px !important;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(91deg) brightness(109%) contrast(101%) !important;
}

.filter-light {
    filter: invert(72%) sepia(8%) saturate(14%) hue-rotate(320deg) brightness(87%) contrast(86%);
}

.filter-light:hover {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(91deg) brightness(109%) contrast(101%) !important;
}

.filter-gold {
    filter: invert(90%) sepia(62%) saturate(3561%) hue-rotate(321deg) brightness(94%) contrast(95%) !important;
}

.icon-mindset:before {
    background: url('../img/icon-01.svg') center center;
}

.icon-connect:before {
    background: url('../img/icon-02.svg') center center;
}

.icon-mastermind:before {
    background: url('../img/icon-03.svg') center center;
}

.icon-masterclass:before {
    background: url('../img/icon-08.svg') center center;
}

.icon-legacy:before {
    background: url('../img/icon-14.svg') center center;
}

.icon-search:before {
    background: url('../img/icon-04.svg') center center;
}

.icon-chat:before {
    background: url('../img/icon-05.svg') center center;
}

.icon-notification:before {
    background: url('../img/icon-06.svg') center center;
}

.icon-cart:before {
    background: url('../img/icon-07.svg') center center;
}

.icon-dollar:before {
    background: url('../img/icon-15.svg') center center;
}

.icon-social:before {
    background: url('../img/icon-12.svg') center center;
}

.icon-photo:before {
    background: url('../img/icon-09.svg') center center;
}

.icon-video:before {
    background: url('../img/icon-10.svg') center center;
}

.icon-24 {
    width: 28px !important;
    height: 28px !important;
}

.icon-24:before {
    width: 28px !important;
    height: 28px !important;
}

.btn.accent {
    font-size: 14px;
    color: #ebc243;
    border: 1px solid #ebc243;
    padding: .175rem .25rem;
}

.btn.accent:hover {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-secondary {
    background-color: #B3B3B3;
    color: #4D4D4D;
    font-weight: bold;
    border-radius: .8rem;
}

.btn-dark {
    background-color: #333333;
    font-weight: bold;
    border-radius: .8rem;
    padding: .715rem .75rem;
}

.navbar-brand > img {
    height: 42px;
}

.navbar-main {
    height: 58px;
}

.navbar-main .nav-link {
    padding: 0 .5rem;
    font-size: 0.675rem;
    color: #ffffff;
}

.navbar-main .nav-link .badge {
    margin-left: -.75rem;
    margin-top: -.25rem;
    width: 16px;
    height: 16px;
    font-size: 100%;
    background-color: #a52929;
    display: inline-table;
    vertical-align: top;
    position: relative;
}

.dropdown-toggle.arrow-none:after {
    display: none;
}

.dropdown-menu {
    background-color: #514c4c;
    border-radius: .875rem;
    padding: 0 1rem;
    min-width: max-content;
    box-shadow: .3rem .3rem .5rem .1rem rgba(0, 0, 0, .375);
}

.dropdown-menu-sm {
    border-radius: .475rem;
}

.dropdown-item {
    color: #ffffff;
    font-weight: 300;
    font-size: 0.8rem;
    padding: .25rem 1rem;
    border-bottom: 1px solid #777373;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    opacity: .8;
}

.dropdown-item:last-child {
    border: none;
}

.dropdown-item-text {
    font-size: 0.75rem;
    padding: .25rem;
    color: #ffffff;
}

.dropdown-menu-checkbox {
    padding: .5rem;
}

.dropdown-menu-checkbox .dropdown-item {
    padding: 0;
    border: none;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #fff;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    bottom: 0;
    border-width: 0 .4rem .4rem;
    border-bottom-color: #fff;
}

.tooltip-inner {
    max-width: 200px;
    padding: .15rem .4rem;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    border-radius: .25rem;
    font-size: 75%;
}

.popover {
    padding: .3rem .4rem;
    font-size: .675rem;
    border-radius: .5rem;
}

.popover-header {
    padding: 0;
    font-size: inherit;
    background-color: #ffffff;
    color: #000000;
    border-bottom: none;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.popover-body {
    text-align: center;
    padding: 0;
    color: #212529;
}

.popover.user-following {
    background-color: #808080;
    padding-right: .9rem;
}

.popover.user-following .arrow:after {
    border-top-color: #808080;
}

.popover.user-following ul.following-list li {
    margin-right: -.5rem
}

.popover.user-following ul.following-list li img {
    border: 1px solid #808080;
}

.popover.user-pin {
    background-color: #333333;
    min-width: 190px;
}

.popover.user-pin .arrow:after {
    border-top-color: #333333;
}

.card-dark, .card-dark .card-header, .card-dark .card-footer {
    background-color: #2d2929;
    color: #ffffff;
}

.card-dark .card-footer {
    border-color: #636161;
}

.card-dark .card-body.border-bottom {
    border-color: #636161 !important;
}

.card {
    border: none;
    border-radius: 1rem;
}

.card-header:first-child {
    border-radius: .8rem .8rem 0 0;
}

.card-header {
    padding: .525rem .675rem;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: none;
    min-height: 31px;
    max-height: 31px;
}

.card-body {
    padding: .675rem;
}

.card-title {
    margin-bottom: .35rem;
}

.card-footer:last-child {
    border-radius: 0 0 .8rem .8rem;
}

.card-footer {
    padding: .525rem .2rem;
    margin: 0 .675rem;
    background-color: #ffffff;
    border-top: 1px solid #f2f2f2;
    min-height: 32px;
    max-height: 32px;
    line-height: .5;
}

.card-input .form-control.write-post {
    background-color: #1A1A1A;
    color: #ffffff;
    min-height: 100px;
}

.card-light, .card-light .card-header, .card-light .card-footer {
    background-color: #4D4D4D;
    color: #ffffff;
}

.card-light .card-footer {
    border-color: #636161;
    background-color: #B3B3B3;
    border-radius: 0;
    margin: 0;
    padding: .725rem .2rem;
}

.card-light .card-body.border-bottom {
    border-color: #636161 !important;
}

.card-light-alt, .card-light-alt .card-header, .card-light-alt .card-footer {
    background-color: #666666;
    color: #ffffff;
}

.groups .card-footer {
    background-color: #999999;
    color: #4D4D4D;
    font-weight: bold;
    border-radius: 0;
    margin: 0;
    border: none;
    padding: .6rem .2rem;
    max-height: max-content;
    line-height: inherit;
    text-align: center;
}

.card-img-overlay {
    padding: .4rem .9rem;
}

.card-columns.card-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.card-columns.gap-1 {
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: .5rem;
}

.autocomplete-items div.autocomplete-item {
    padding: .2rem .675rem;
    cursor: pointer;
    background-color: #666666;
    color: rgba(255, 255, 255, .8);
}

.autocomplete-items div.autocomplete-item:first-child {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    padding-top: .45rem;
}

.autocomplete-items div.autocomplete-item:last-child {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding-bottom: .45rem;
}

.autocomplete-items div.autocomplete-item:hover {
    color: rgba(255, 255, 255, .5);
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    color: rgba(255, 255, 255, .5);
}